@font-face {
   font-family: 'Sansation_Bold';
   font-display: swap;
   src: url('file:///Users/toniperez/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-09_174722/fonts/Sansation_Bold/font.ttf');
}
